{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'crear_empleado/crear_empleado.css' %}">
{% endblock %}

{% block content %}
<div class="crear-empleado-container" >
    <main class="main">
        <div class="card shadow-sm" style="background-color: #D9D9D9; padding: 20px 40px;">
            <div class="card-title-container" style="color: #3B3737;">
                <h2 class="mb-4 card-title">Crear Nuevo Empleado</h2>
            </div>
            <hr class="bar">
            <div class="card-body" >
                <form method="post" class="card-form" >
                    {% csrf_token %}

                    <!-- Renderizado manual de cada campo del formulario -->
                    {% for field in form %}
                    <div class="mb-3 form-item">
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                        {{ field }} {# El widget ya tiene la clase 'form-control' gracias a forms.py #}

                        {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}

                        {% for error in field.errors %}
                        <div class="alert alert-danger p-2 mt-1">{{ error }}</div>
                        {% endfor %}
                    </div>
                    {% endfor %}

                    <!-- Mostrar errores que no pertenecen a un campo específico -->
                    {% if form.non_field_errors %}
                    <div class="alert alert-danger p-2">
                        {% for error in form.non_field_errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% endif %}

                    <div class="text-end mt-4">
                        <a href="{% url 'vista_empleados' %}" class="btn btn-secondary">Volver</a>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>
{% endblock %}