{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'registrar_ingreso/registrar_ingreso.css' %}">
    <script rel="stylesheet" src="{% static 'registrar_ingreso/registrar_ingreso.js' %}"></script>
{% endblock %}

{% block content %}
<div class="movimientos-container">
    {% include 'includes/sidebar.html' %}

    <main class="movimientos-main">
        

        <section class="movimientos-main-section">
            <div class="section-title-container">
                <h4 class="movimientos-main-title">Nuevo Ingreso</h4>
            </div>
            <hr class="bar">
            <form method="post" style="color: #ffffff;">
                {% csrf_token %}

                <fieldset class="detalle-datos">
                    {{ movimiento_form.as_p }}
                </fieldset>

                <fieldset class="detalle-movimiento">
                    <legend class="detalle_movimiento-title">Detalle de Pallets</legend>
                    {{ formset.management_form }}
                    {% for form in formset %}
                        <div class="linea" style="margin-bottom: 1rem; padding: 0.75rem; background-color: #0D7A7F; border-radius: 4px;">
                            {{ form.as_p }}
                        </div>
                    {% endfor %}
                </fieldset>

                <div  class="btns-nav-container" style="text-align: end; margin-top: 1.5rem;">
                    <button type="button" id="btn-back" class="btn btn-success" style="background-color: #002D33; border: none; padding: 0.5rem 1.5rem; font-size: 1rem; color: white; border-radius: 4px;">
                        Volver
                    </button>
                    <button type="submit" name="btn-save" id="btn-save" class="btn btn-success" style="background-color: #002D33; border: none; padding: 0.5rem 1.5rem; font-size: 1rem; color: white; border-radius: 4px;">
                        Guardar Ingreso
                    </button>
                    <button type="submit" name="btn-remito" id="btn-remito" class="btn btn-success" style="background-color: #002D33; border: none; padding: 0.5rem 1.5rem; font-size: 1rem; color: white; border-radius: 4px;">
                        Generar Remito
                    </button>
                </div>
            </form>
        </section>
    </main>
</div>
{% endblock %}