{% extends 'base.html' %}
{% load static %}




<div>
    {% block content %} 
    {% include 'includes/sidebar.html'%}
    <main>
        <section>
            <h2>Gestión de movimientos</h2>
            <h1>Lista de Movimientos</h1>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tipo</th>
                        <th>Empresa</th>
                        <th>Estado</th>
                        <th>Usuario</th>
                        <th>Fecha/Hora</th>
                    </tr>
                </thead>
                <tbody>
                    {% for movimiento in movimientos %}
                    <tr>
                        <td>{{ movimiento.id }}</td>
                        <td>{{ movimiento.tipo }}</td>
                        <td>{{ movimiento.empresa }}</td>
                        <td>{{ movimiento.estado_confirmacion }}</td>
                        <td>{{ movimiento.usuario_creacion }}</td>
                        <td>{{ movimiento.fecha_hora }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6">No hay movimientos registrados.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>

        </main>
    {% endblock %}
    
</div>

