{% extends 'base.html' %}
{% load static %}

{% block head %} 
    <link rel="stylesheet" href="{% static 'remito/remito.css'%}">
{% endblock %}

{% block content %}
<main class="remito-container">
    <div class="remito" style="background-color: #fff; color: #000; border-radius: 8px;">
        <div style="border-bottom:1px solid #cccc; width: 100%;" class="remito-title-container">
            <h2 style="text-align:center;"><strong>{{ title }}</strong></h2>
        </div>

        <div class="remito-subtitle-container">
            <h4>Datos del Movimiento</h4>
        </div>

        <div class="remito-table-container">
            <table style="width:100%; border-collapse: collapse;" class="remito-table">
                <thead>
                    <tr style="background-color:#C8C8C8; color:white;">
                        <th>N°</th>
                        <th>Fecha/Hora</th>
                        <th>Empresa</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>#{{ movimiento.id }}</td>
                        <td>{{ movimiento.fecha_creacion|date:"d/m/Y H:i" }}</td>
                        <td>{{ movimiento.empresa }}</td>
                    </tr>
                </tbody>
            </table>
            <hr>
            <hr>
            <table style="width:100%; border-collapse: collapse;" class="remito-table">
                <thead>
                    <tr style="background-color:#C8C8C8; color:white;">
                        <th>Origen</th>
                        <th>Destino</th>
                        <th>Responsable</th>
                        <th>Empleado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ movimiento.ubicacion_origen }}</td>
                        <td>{{ movimiento.ubicacion_destino }}</td>
                        <td>{{ movimiento.usuario_creacion.username }}</td>
                        <td>{{ movimiento.usuario_creacion.username }}</td>
                    </tr>
                </tbody>
            </table>

            <hr>
            <hr>

            <div class="remito-subtitle-container">
                <h4>Detalle de Pallets</h4>
            </div>

            <table style="width:100%; border-collapse: collapse;" class="remito-table">
                <thead>
                    <tr style="background-color:#C8C8C8; color:white;">
                        <th>Motivo</th>
                        <th>Cantidad</th>
                        <th>Tipo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for linea in lineas %}
                    <tr>
                        <td>{{ movimiento.tipo }}</td>
                        <td>{{ linea.cantidad }}</td>
                        <td>{{ linea.tipo_pallet }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="remito-btn-container" style="text-align:center; margin-top:2rem;">
            <a href="{% url 'movimientos:movimientos' %}" 
                class="btn btn-success">
                Volver</a>
            <a href="{% url 'movimientos:generar_remito_pdf' movimiento.id %}"
                class="btn btn-success">
                Descargar PDF
            </a>
        </div>
    </div>
</main>
{% endblock %}
