{% extends "base.html" %}
{% load static %}

{% block title %}Crear Empresa | Pallet Manager{% endblock %}

{% block content %}
<div class="row justify-content-center pt-4">
    <div class="col-lg-8 col-md-10">
        <div class="px-3">
            <div class="card bg-light p-4 p-md-5 text-dark border-0 shadow-lg"> 
                
                <h2 class="h4 fw-bold mb-4 text-dark">Nueva empresa</h2>
                
                <form method="post" action="{% url 'empresas:crear_empresa' %}">
                    {% csrf_token %}
                    
                    {{ form.as_p }}
                    
                    <div class="d-flex justify-content-end mt-4">
                        <a href="{% url 'empresas:lista_empresas' %}" class="btn btn-secondary fw-bold me-3 rounded-pill">Volver</a>
                        <button type="submit" class="btn btn-primary fw-bold rounded-pill">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}