<div class="pm-quick-access-bar p-4 mb-5"> 
    <div class="text-center mb-4">
        <h2 class="h5 text-white fw-bold">Accesos rápidos</h2>
    </div>
    <div class="row text-center justify-content-center">
        <div class="col-md-4 col-sm-12 px-3"> 
            <a href="#" class="card pm-quick-access-card text-decoration-none">
                <div class="card-body">
                    <i class="bi bi-buildings"></i> 
                    <p class="mb-0">Empresas</p>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-12 px-3">
            <a href="#" class="card pm-quick-access-card text-decoration-none">
                <div class="card-body">
                    <i class="bi bi-person-badge-fill"></i> 
                    <p class="mb-0">Empleados</p>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-12 px-3">
            <a href="#" class="card pm-quick-access-card text-decoration-none">
                <div class="card-body">
                    <i class="bi bi-box-seam-fill"></i> 
                    <p class="mb-0">Movimientos</p>
                </div>
            </a>
        </div>
    </div>
</div>