{% load static %}

<header class="header navbar navbar-dark bg-teal px-4 py-2 d-flex align-items-center gap-4" style="background-color: #002D33; height: 9vh;margin-left:250px;">
  <div class="w-100 d-flex  align-items-center justify-content-between">
    {# El título ahora es dinámico. Usará 'header_title', o 'title', o 'Dashboard' por defecto. #}
    <h4 class="mb-0 ff-Nunito-Sans fw-bold text-light flex-grow-1">{{ header_title|default:title|default:"Dashboard" }}</h4>
    <div class="time-container d-flex justify-content-between" style="width: 180px;">
        <span id="reloj" class=""></span>
        <span id="fecha" class=""></span>
    </div>
  </div>
</header>


<script>
  // Script para actualizar hora y fecha en tiempo real
  function actualizarReloj() {
    const ahora = new Date();
    const hora = ahora.toLocaleTimeString('es-AR', { hour12: false });
    const fecha = ahora.toLocaleDateString('es-AR');
    document.getElementById("reloj").textContent = hora;
    document.getElementById("fecha").textContent = fecha;
  }
  setInterval(actualizarReloj, 1000);
  actualizarReloj();
</script>
