{% load static %}

<header class="navbar navbar-dark bg-teal shadow-sm px-4 py-2 d-flex justify-content-between align-items-center" style="background-color: #003b3b;">
  <div class="d-flex flex-direction-row align-items-center">
    <img src="{% static 'img/logo_pallet.png' %}" alt="Pallet Manager Logo" height="40" class="me-2">
    <h1 class="mb-0 fw-bold text-light">PALLET MANAGER</h1>
  </div>
</header>


<script>
  // Script para actualizar hora y fecha en tiempo real
  function actualizarReloj() {
    const ahora = new Date();
    const hora = ahora.toLocaleTimeString('es-AR', { hour12: false });
    const fecha = ahora.toLocaleDateString('es-AR');
    document.getElementById("reloj").textContent = hora;
    document.getElementById("fecha").textContent = fecha;
  }
  setInterval(actualizarReloj, 1000);
  actualizarReloj();
</script>
